Source: libwtcdb
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libwtcdb

Package: libwtcdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libwtcdb-dbg
Description: Library to access the Windows Explorer thumbnail cache database (WTCDB) format
 libwtcdb is a library to access the Windows Explorer thumbnail cache database (WTCDB) format.

Package: libwtcdb-dbg
Architecture: any
Section: debug
Depends: libwtcdb (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libwtcdb
 Debugging symbols for libwtcdb.

Package: libwtcdb-dev
Section: libdevel
Architecture: any
Depends: libwtcdb (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libwtcdb
 Header files and libraries for developing applications for libwtcdb.

Package: libwtcdb-tools
Section: utils
Architecture: any
Depends: libwtcdb (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for reading Windows Explorer thumbnail cache database (WTCDB) files
 Several tools for reading Windows Explorer thumbnail cache database (WTCDB) files.

Package: libwtcdb-tools-dbg
Section: debug
Architecture: any
Depends: libwtcdb-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libwtcdb-tools
 Debugging symbols for libwtcdb-tools.

